GROWW_API_KEY=eyJraWQiOiJaTUtjVXciLCJhbGciOiJFUzI1NiJ9.eyJleHAiOjI1NTk3MTUzNTcsImlhdCI6MTc3MTMxNTM1NywibmJmIjoxNzcxMzE1MzU3LCJzdWIiOiJ7XCJ0b2tlblJlZklkXCI6XCJhYTY1OWYxZS1iNDU0LTQ3MjAtOTBkMi1hYmMzZDBkMjRhMGRcIixcInZlbmRvckludGVncmF0aW9uS2V5XCI6XCJlMzFmZjIzYjA4NmI0MDZjODg3NGIyZjZkODQ5NTMxM1wiLFwidXNlckFjY291bnRJZFwiOlwiNzQyMThhM2QtODM4ZS00OTExLWJkYWQtMDJlZDVjMjBkN2Y0XCIsXCJkZXZpY2VJZFwiOlwiMjUzM2ZlZDMtYWY4ZS01MmVjLWI3ZWYtNDU5MGQyZWU0YjU2XCIsXCJzZXNzaW9uSWRcIjpcIjU1NjVhZjA4LWI1ZTQtNDg0OS05ZGZlLWNjNWI3ZGQ1ZjU0YVwiLFwiYWRkaXRpb25hbERhdGFcIjpcIno1NC9NZzltdjE2WXdmb0gvS0EwYkw3dUQzdWM4SEpKaEg3UGNDNEFNWE5STkczdTlLa2pWZDNoWjU1ZStNZERhWXBOVi9UOUxIRmtQejFFQisybTdRPT1cIixcInJvbGVcIjpcImF1dGgtdG90cFwiLFwic291cmNlSXBBZGRyZXNzXCI6XCI0NS4xMTguMTU5Ljc4LDE3Mi42OC4yMTQuODgsMzUuMjQxLjIzLjEyM1wiLFwidHdvRmFFeHBpcnlUc1wiOjI1NTk3MTUzNTc4OTh9IiwiaXNzIjoiYXBleC1hdXRoLXByb2QtYXBwIn0.OyjhXAO3qts7dEzIXRixc17BHrTrmbABpDn_v-hWiUcwkAR8cO6Tru1bMCM_-ltkAKBhZvG58Scrg6PUMZ3fRA
GROWW_API_SECRET=KuA%9FBtLIQVQ4pJkTtkvTrtT5hDBzG!
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
LOG_LEVEL=INFO
TELEGRAM_BOT_TOKEN=8509349151:AAFi0NY_UOppP1Y8CCH2P1Y46UJA4FDT7C0
TELEGRAM_CHAT_ID=403302127